<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Mvp.Xml.NetStandard" version="1.1.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.9.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.9.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="112.0.5615.4900" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.117.0" targetFramework="net472" />
  <package id="System.CodeDom" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
</packages>